*{
    padding:0px;
    margin:0px;
    font-family: sans-serif;
}
*::-webkit-scrollbar{
    display:none;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}
body{
    background-color: black;
}
video::-webkit-media-controls-volume-slider {
    display:none;
}
    
video::-webkit-media-controls-mute-button {
    display:none;
}
@media only screen and (max-width: 600px) {
    #menuBoxDiv{
        display: none;
    }
    #headerSearchBoxDiv{
        display:none;
    }
    #headerSearchDiv{
        display:block;
        position:absolute;
        top:15px;
        right:20px;
    }
    #menuBoxDiv{
        width:160px;
    }
    #menuBoxBackSupportBox{
        width:calc(100% - 160px);
    }
    .feedVideoCardClass{
        width:100%;
        margin:5px 0px 5px 0px;
    }
    #mainVideoRunningDiv{
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:35vh;
        background-color: rgb(0, 0, 0);
    }
    #mainVideoInformantioDiv{
        position:absolute;
        top:35vh;
        left:0px;
        width:100%;
        height:10vh;
        background-color: rgb(226, 64, 43);
    }
    #otherSectionDiv{
        position:absolute;
        top:45vh;
        left:0px;
        width:100%;
        height:calc(55vh - 50px);
        background-color: rgb(70, 43, 226);
        overflow:scroll;
    }
    #videoBar{
        width:100%;
        height:35vh;
    }
   
    
    #othersMychanelInformationNavigantionId{
        gap:2vh;
    }
    .titleDescriptionlass{
        width:250px;
        min-height: 50px;
    }
    #videoGenereBoxId{
        width:70%;
    }
    #chaneleNameChangeBoxId{
        width:70%;
    }
}
@media only screen and (min-width:600px){
    #headerSearchDiv{
        display:none;
    }
    #headerSearchBoxDiv{
        display:block;
        position:absolute;
        right:0px;
        width:70%;
        top:10px;
    }
    #headerSearchBoxDiv input{
        width:70%;
        height:25px;
    }
    
    #menuBoxDiv{
        width:15%;
        min-width:160px;
    }
    #menuBoxBackSupportBox{
        width:85%;
        max-width:calc(100% - 160px);
    }
    .feedVideoCardClass{
        width:326px;
        margin:7px;
        float: left;
    }
    #mainVideoRunningDiv{
        position:absolute;
        top:0px;
        left:0px;
        width:75%;
        height:75vh;
        background-color: rgb(3, 0, 5);
    }
    #mainVideoInformantioDiv{
        position:absolute;
        top:75vh;
        left:0px;
        width:75%;
        height:calc(25vh - 50px);
        background-color: rgb(226, 64, 43);
    }
    #otherSectionDiv{
        position:absolute;
        top:0px;
        right:0px;
        width:25%;
        height:calc(100vh - 50px);
        background-color: rgb(70, 43, 226);
        overflow:scroll;
    }
    #videoBar{
        width:100%;
        height:75vh;
    }
    
    
    #othersMychanelInformationNavigantionId{
        gap:6vh;
    }
    .titleDescriptionlass{
        width:500px;
        min-height: 50px;
    }
    #videoGenereBoxId{
        width:350px;
    }
    #chaneleNameChangeBoxId{
        width:350px;
    }
   
}
#headerSearchBoxDivSearchBut{
    color: white;
}
#headerSearchBoxDivSearchBut:hover{
    color: rgb(158, 32, 53);;
    
}
#headerDiv{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:50px;
    background-color: rgb(46, 41, 41);
}
#menuBut{
    position: absolute;
    top:10px;
    left:30px;
    padding:5px;
}
#menuBut:hover{
    background-color: rgba(240, 248, 255, 0.363);
}
#menuBut div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
#menuBut span{
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
#headerHeadingDiv{
    position:absolute;
    top:12px;
    left:80px;
    font-size: 22px;
}

#menuBoxDiv{
    position: absolute;
    top:50px;
    left:0px;
    height:92vh;
    background-color: rgba(26, 23, 23, 0.568);
    overflow: scroll;
}
#headerSearchDiv{
    color:white;
    padding: 2px;
    
    font-size: 15px;
    

}
#headerSearchDiv:hover{
    color: rgb(158, 32, 53);
}
#menuBoxDiv div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left:10px;
    width: 90%;
    height: 35px;
    background-color: rgb(55, 54, 56);
    color:antiquewhite;
    font-weight: 500;

}
#menuBoxDiv div:hover{
    background-color: rgb(46, 43, 43);
}
.containClass{
    position: absolute;
    top:50px;
    left:0px;
    width:100%;
    height:calc(100vh - 50px);
    background-color: rgb(11, 2, 17);
    overflow: scroll;
    display:none;
    color:white;
}
.feedVideoCardClass{
    position: relative;
    height:255px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.541);
}
.feedVideoThumbnailClass{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:175px;
}
.feedVideochanelLogoClass{
    position:absolute;
    bottom:25px;
    left:5px;
    width:40px;
    height:40px;
    border-radius: 50%;
}
.feedVideoCardClass:hover{
    opacity: 0.8;
}
.feedVideoTitleClass{
    position:absolute;
    top:185px;
    right:0px;
    width:77%;
    height:50px;
    overflow: hidden;
}
.feedVideoCNVTClass{
    position:absolute;
    bottom:19px;
    right:0px;
    width:77%;
    font-size: 11px;
    color:rgb(143, 140, 137);
    overflow: hidden;
}
.registerloginPageClass{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:calc(100vh - 50px);
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2vh;

}

#profileImageId{
    position:relative;
    width:150px;
    height:150px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 40px;
    overflow: hidden;
    background-color: aliceblue;
}
#profileImageIdInput1{
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:150px;
    border: 1px solid black;
    border-radius: 50%;
    display: none;

}
#profileImageIdInput2{
    position:absolute;
    top:-25px;
    left:-25px;
    width:200px;
    height:200px;
    border: 1px solid black;
    border-radius: 50%;
}
#profileImageIdInput2::-webkit-file-upload-button{
    visibility: hidden;
}
#unwantedResponse{
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:150px;
    display:none;
}
#profileImageIdInput11{
    position:absolute;
    top:0px;
    left: 0px;
    width:150px;
    height:150px;
    border: 1px solid black;
    border-radius: 50%;
}


#othersMychanelInformationId{
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:calc(100vh - 50px);
}


#othersMychanelInformationNavigantionId{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 28, 39);
}

.othersMychanelInformationContainIdSubClass{
    display:none;
    position:absolute;
    top:0px;
    top:30px;
    width:100%;
    height:calc(100vh - 80px);
    overflow: scroll;
}
#choosenGenereForVideoPId:hover{
    border: 1px solid red;
}
#videoGenereBoxId span{
    width:90%;
    height:40px;
    background-color: rgba(46, 62, 77, 0.808);
    display:flex;
    align-items: center;
    justify-content: center;
}

#videoGenereBoxId span:hover{
    background-color: rgb(46, 62, 77);
}